<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magestore\FeatureProduct\Model\ResourceModel\Feature\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">feature_product</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\FeatureProduct\Model\ResourceModel\Feature</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="featureadmin_feature_listing_data_source" xsi:type="string">Magestore\FeatureProduct\Model\ResourceModel\Feature\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magestore\FeatureProduct\Model\ResourceModel\Feature\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">feature_product</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\FeatureProduct\Model\ResourceModel\Feature</argument>
        </arguments>
    </virtualType>
</config>